/*
 * Content
 */

h1 {
	background-color: @style_color_2;
	padding: 5px 0px 5px 10px;
	font-size: 28px;
	margin-top: 10px;
	.font_color_2;
	.default_shadow;

	@media (max-width: 767px) {
		margin-top: 10px;
	}
}

hr {
	margin-top: 10px;
}

.support-image {
	h1 {
		display: none;
	}

	h2 {
		color: #666;
		font-size: 28px;
		margin-top: 9px;
		font-weight: bold;
	}

	h4 {
		margin-top: -5px;
		color: #76c0e5;
		font-weight: bold;
	}

	@media (max-width: 767px) {
		h2 {
			font-size: 22px;
		}

		h4 {
			font-size: 13px;
		}
	}
}

.well {
	background-color: @style_color_1 !important;
	border: 0px !important;
}

.login-page {
	margin-top: 20px;
	margin-bottom: 32px;

	.form-control {
		height: 45px;
	}

	.btn-lg {
		padding: 8px 16px;
	}

	@media (max-width: 767px) {
		margin-bottom: 32px;
	}
}

.login-only {
	#clientLogin {
		margin-bottom: -28px;
	}
}

.registration h3 {
	font-size: 22px;
}

/* home */
.front-boxes {
	margin-top: 25px;

	.fbox {
		margin-top: 15px;
		@fboxpad: 10px;
		background: @style_color_3;
		.default_shadow;

		a {
			font-weight: bold;
			font-size: 17px;
		}

		.info {
			background-color: @style_color_4;
			padding: @fboxpad;
		}

		.button {
			background-color: @style_color_2;
			padding: @fboxpad;
			text-align: center;
		}

		.icon {
			text-align: center;
			position: relative;
			margin-bottom: 10px;
			padding: @fboxpad;

			.image {
				position: relative;
				z-index: 2;
				margin: auto;
				width: 100px;
				height: 100px;
				line-height: 88px;
				border-radius: 50%;
				background: #555;
				vertical-align: middle;

				i {
					font-size: 50px !important;
					color: #fff !important;
					padding-top: 23px;
				}
			}
		}
	}

	@media (max-width: 767px) {
		margin-bottom: 30px;

		h1 {
			margin-top: 35px;
		}

		p {
			text-align: justify;
			padding: 0px 5px !important;
		}
	}
}

.intro {
	background-color: @style_color_1;
	padding: 10px;
	.default_shadow;

	@media (max-width: 767px) {
		margin-bottom: -30px;
	}
}

.bgcolor h1 {
	font-size: 49px;
	font-weight: bold;
}

#loginbox .btn-primary {
	background-color: #777;
	border-color: #777;
}

.alert {
	margin-top: 15px;
}

.rtl #logo img {
	float: left;
}

.rtl .form-group .control-label {
	float: right;
	text-align: left;
}
