/*
 * Core Stylesheet Config/Options
 */

/* Set common colours */
@color_white: #FFFFFF;
@color_black: #000000;
@color_red: #FF0000;
@color_red_alt: #AE0000;
@color_red_alt2: #B71C1C;
@color_green: #00AE3F;
@color_gold: #E69500;
@color_error: #a94442;

@style_color_1: #212121;
@style_color_2: #171717;
@style_color_3: #303030;
@style_color_4: #272626;
@style_color_5: #1C1C1C;
@style_color_6: #2E2E2E;
@style_color_7: #757575;
@style_color_8: #616161;
@style_color_9: #333333;
@style_color_10: #424242;
@style_color_11: #e0e0e0;
@style_color_12: #222222;
@style_color_13: #444444;
@style_color_14: #111111;

@style_color_1_rgba: rgba(23, 23, 23, 0.3);

@border_color_1: #414141;
@border_color_2: #CCCCCC;

/* Setup font colours */
.font_color_1(@important) {
	@font_color: #E0E0E0;
	@font_color_rgba: rgba(255, 255, 255, 0.8);

	& when (@important = true) {
		color: @font_color !important;
		color: @font_color_rgba !important;
	} & when (@important = false) {
		color: @font_color;
		color: @font_color_rgba;
	}
}

.font_color_2(@important) {
	@font_color: #BDBDBD;
	@font_color_rgba: rgba(255, 255, 255, 0.6);

	& when (@important = true) {
		color: @font_color !important;
		color: @font_color_rgba !important;
	} & when (@important = false) {
		color: @font_color;
		color: @font_color_rgba;
	}
}

.font_color_3(@important) {
	@font_color: #171717;

	& when (@important = true) {
		color: @font_color !important;
	} & when (@important = false) {
		color: @font_color;
	}
}

.font_color_4(@important) {
	@font_color: #333333;

	& when (@important = true) {
		color: @font_color !important;
	} & when (@important = false) {
		color: @font_color;
	}
}

.font_color_5(@important) {
	@font_color: #E2E2E2;

	& when (@important = true) {
		color: @font_color !important;
	} & when (@important = false) {
		color: @font_color;
	}
}

.font_color_6(@important) {
	@font_color: #CCCCCC;
	@font_color_rgba: rgba(255, 255, 255, 0.75);

	& when (@important = true) {
		color: @font_color !important;
		color: @font_color_rgba !important;
	} & when (@important = false) {
		color: @font_color;
		color: @font_color_rgba;
	}
}

.font_color_7(@important) {
	@font_color: #666666;

	& when (@important = true) {
		color: @font_color !important;
	} & when (@important = false) {
		color: @font_color;
	}
}

.font_color_1() when (default()) {
	.font_color_1(false);
}

.font_color_2() when (default()) {
	.font_color_2(false);
}

.font_color_3() when (default()) {
	.font_color_3(false);
}

.font_color_4() when (default()) {
	.font_color_4(false);
}

.font_color_5() when (default()) {
	.font_color_5(false);
}

.font_color_6() when (default()) {
	.font_color_6(false);
}

.font_color_7() when (default()) {
	.font_color_7(false);
}

/* Default Font Family */
.font_family {
	font-family: "Noto Sans", "Open Sans", sans-serif;
}

/* Common font sizes */
@font_size_1: 9px;
@font_size_2: 10.2px;
@font_size_3: 12px;
@font_size_4: 13px;
@font_size_5: 14px;
@font_size_6: 15px;
@font_size_7: 16px;
@font_size_8: 18px;

/* Default Width Limits */
@media_width_1: 478px;
@media_width_2: 767px;
@media_width_3: 768px;
@media_width_4: 991px;
@media_width_5: 992px;
@media_width_6: 1199px;
@media_width_7: 1200px;

/* Set Shadows */
.default_shadow(@important) {
	@shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);

	& when (@important = true) {
		-webkit-box-shadow: @shadow !important;
		-moz-box-shadow: @shadow !important;
		-o-box-shadow: @shadow !important;
		box-shadow: @shadow !important;
	} & when (@important = false) {
		-webkit-box-shadow: @shadow;
		-moz-box-shadow: @shadow;
		-o-box-shadow: @shadow;
		box-shadow: @shadow;
	}
}

.default_inset_shadow(@important) {
	@shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.5);

	& when (@important = true) {
		-webkit-box-shadow: @shadow !important;
		-moz-box-shadow: @shadow !important;
		-o-box-shadow: @shadow !important;
		box-shadow: @shadow !important;
	} & when (@important = false) {
		-webkit-box-shadow: @shadow;
		-moz-box-shadow: @shadow;
		-o-box-shadow: @shadow;
		box-shadow: @shadow;
	}
}

.shadow(@shadow, @important) {
  & when (@important = true) {
    -webkit-box-shadow: @shadow !important;
	-moz-box-shadow: @shadow !important;
	-o-box-shadow: @shadow !important;
	box-shadow: @shadow !important;
  } & when (@important = false) {
    -webkit-box-shadow: @shadow;
	-moz-box-shadow: @shadow;
	-o-box-shadow: @shadow;
	box-shadow: @shadow;
  }
}

.default_shadow() when (default()) {
	.default_shadow(false);
}

.default_inset_shadow() when (default()) {
	.default_inset_shadow(false);
}

/* Set custom border radius */
.border_radius(@radius, @important) {
  & when (@important = true) {
	-webkit-border-radius: @radius !important;
	-moz-border-radius: @radius !important;
	-o-border-radius: @radius !important;
	border-radius: @radius !important;
  } & when (@important = false) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
  }
}

/* Set common border */
.common_border {
	border: 1px solid @border_color_1 !important;
}

/* Set no border */
.no_border {
	border: 0px !important;
}

/* Auto Center */
.auto_center {
	margin-left: auto;
	margin-right: auto;
}

/* Centered text */
.centered {
	padding-bottom: 10px;
	.font_color_1;

	p {
		padding: 0px 5%;
	}

	@media (max-width: 767px) {
		padding-left: 0px;
		padding-right: 0px;
	}
}

html {
	min-height: 100%;
	position: relative;
}

body {
	background-color: @style_color_1;
	font-weight: 400;
	font-size: @font_size_3;
	.font_color_1;
	.font_family;
}

.error {
    color: @color_red;
}

hr {
	border: 0px;
	color: @style_color_2;
	background-color: @style_color_2;
	height: 2px;
}

h2 {
	background-color: @style_color_2;
	padding: 5px 0px 5px 10px;
	font-size: 16px;
	margin-top: 32px;
	.font_color_2;
	.default_shadow;

	~ p {
		margin-left: 10px;
	}

	@media (max-width: 767px) {
		margin-top: 10px;
	}
}

.pagination a {
	background-color: @style_color_2 !important;
	border-color: @style_color_3 !important;
	.font_color_1(true);
}

/* Unset unused */
.bgfront {
	background: unset;
}
