/*
 * Footer
 */

.footer-event {
	padding-left: 90px;
	margin-top: -13px;
	margin-bottom: 25px;

	.panel-footer {
		border: 1px solid #ddd;
		border-radius: 3px;
	}
}

.footer-clearspace {
	content: " ";
	height: 245px;

		@media (max-width: @media_width_2) {
			height: 465px;
		}

		@media (min-width: @media_width_3) and (max-width: @media_width_5) {
			height: 265px;
		}
}

footer {
	bottom: 0px;
	position: absolute;
	width: 100%;

	#footer {
		height: 230px;
		margin-top: 30px;
		padding-top: 30px;
		background-color: @style_color_3;
		border-top: 1px solid @style_color_8;
		.font_color_5;

		@media (max-width: @media_width_2) {
			height: 450px;
		}

		@media (min-width: @media_width_3) and (max-width: @media_width_5) {
			height: 250px;
		}

		.storeinfo {
			background-color: @style_color_1;
			padding: 10px 10px 1px;
			.default_inset_shadow(false);
		}

		.seemore {
			background-color: @style_color_2;
			text-align: center;
			font-weight: bold;
		}

		hr {
			border-top: none;
			border-bottom: 1px solid #666;
		}

		a {
			.font_color_6;

			&:hover {
				color: @color_white !important;
			}
		}

		h5 {
			font-size: @font_size_4;
			font-weight: bold;
			color: @color_white;
			.font_family;
		}

		li {
			margin-left: 8px;
		}
	}
}

/* footer column */
.col-xs-2-4, .col-sm-2-4, .col-md-2-4, .col-lg-2-4 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-2-4 {
	width: 20%;
	float: left;
}

@media (min-width: @media_width_3) {
	.col-sm-2-4 {
		width: 20%;
		float: left;
	}
}

@media (min-width: @media_width_5) {
	.col-md-2-4 {
		width: 20%;
		float: left;
	}
}

@media (min-width: @media_width_7) {
	.col-lg-2-4 {
		width: 20%;
		float: left;
	}
}
