/*
 *  Forms
 */

.input-group-addon {
	background: #999;
	color: #ffffff;
}

.select2-container {
	.select2-selection__rendered {
		line-height: 37px !important;
	}

	.select2-selection--single {
		height: 37px !important;
	}

	.select2-selection__arrow {
		height: 36px !important;
	}

	.select2-selection--single {
		background-color: @style_color_2 !important;
		.no_border;
		font-size: @font_size_3;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 1px;
		.border_radius(0px, false);
		.font_color_2;
	}

	.select2-results__option[aria-selected=true] {
		background-color: @style_color_4;
		.font_color_2;
	}

	.select2-results__option--highlighted[aria-selected] {
		background-color: @style_color_3;
		.font_color_2;
	}

	.select2-dropdown {
		line-height: 32px;
		background-color: @style_color_2 !important;
		.no_border;
		font-size: @font_size_3;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 1px;
		.border_radius(0px, false);
		.font_color_2;

		.select2-search input {
			background-color: @style_color_2;
			border: 0px;
			border-bottom: 1px solid;
			border-color: @style_color_8;
			font-size: @font_size_3;
			.font_color_2;
			.border_radius(0px, false);

			&:focus {
				color: @color_white;
				outline: none;
				border: 0px;
				border-bottom: 1px solid;
				border-color: #5F0000;
				.border_radius(0px, false);
				.shadow(none, false);
				-moz-transition: none;
				-webkit-transition: none;
			}
		}
	}
}

.action-button {
	height: 35px;
}

.btn {
	color: #fff !important;
}

.text-box-middle {
	height:114px;
}

.filedrop .file {
	height: 35px !important;
}

.filedrop .file .cancel {
	display: block !important;
}

.filedrop .file .cancel:before {
	font-family: FontAwesome;
	content: "\f014";
}

legend {
	.font_color_1;
	font-size: @font_size_8;
	padding: 7px 0px;
	border-bottom: 1px @style_color_7 solid;
}

label {
	font-size: @font_size_3;
	font-weight: normal;
}

.label-info {
	background-color: @style_color_2 !important;
	.font_color_2(true);
}

select.form-control {
	background-color: @style_color_2 !important;
	.no_border;
	font-size: @font_size_3;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	.border_radius(0px, false);
	.font_color_2;

	&:focus {
		.no_border;
		text-indent: 1px;
		color: @color_white;
		.shadow(none, false);
	}
}

textarea.form-control, input[type="text"].form-control, input[type="tel"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	background-color: @style_color_2 !important;
	border: 0px;
	border-bottom: 1px solid;
	border-color: @style_color_8;
	font-size: @font_size_3;
	.font_color_2;
	.border_radius(0px, false);

	&:focus {
		color: @color_white;
		border-color: #5F0000;
		.shadow(none, false);
	}
}

.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: @font_size_3;
}

.input-group .input-group-addon {
	font-size: @font_size_3;
	height: 30px;
	color: @color_white;
	.no_border;
	background-image: linear-gradient(to bottom, #100000, @style_color_2);
}

.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

::-webkit-input-placeholder {
	color: @style_color_8 !important;
}

::-moz-placeholder {
	color: @style_color_8 !important;
}

:-ms-input-placeholder {
	color: @style_color_8 !important;
}

div.required .control-label:before {
	content: '* ';
	color: @color_red;
	font-weight: bold;
}

/* Help Popups */
.form-hover-help:after {
	font-family: FontAwesome;
	color: @color_white;
	content: "\f059";
	margin-left: 6px;
}

/* Error Handling */
.has-error a {
  color: @color_error;
}

/* Date and time picker overrides */
.bootstrap-datetimepicker-widget.dropdown-menu {
	background-color: @border_color_1;
}

.bootstrap-datetimepicker-widget.dropdown-menu:after,
.bootstrap-datetimepicker-widget.dropdown-menu:before {
	display: none !important;
}

.datepicker-days {
	.font_color_1(true);
}

.datepicker-days table {
	border-color: @style_color_2 !important;
}

.datepicker-days table td.active.today:before {
	border-bottom-color: @style_color_4;
}

.datepicker-days table td.today:before {
	border-bottom-color: @style_color_11;
}

.datepicker-days .prev:hover {
	background-color: @style_color_10 !important;
	.border_radius(0px, true);
}

.datepicker-days .picker-switch {
	background-color: @style_color_2;
}

.datepicker-days .picker-switch:hover {
	background-color: @style_color_1 !important;
}

.datepicker-days .next:hover {
	background-color: @style_color_10 !important;
	.border_radius(0px, true);
}

.datepicker-days .dow {
	border-bottom: 1px solid @border_color_1 !important;
}

.datepicker-days .day {
	background-color: @style_color_4;
	.border_radius(0px, true);
}

.datepicker-days .day:hover {
	background-color: @style_color_2 !important;
}

.datepicker-days .old {
	background-color: @style_color_1;
	.border_radius(0px, true);
}

.datepicker-days .old:hover {
	background-color: @style_color_2 !important;
}

.datepicker-days .new {
	background-color: @style_color_1;
	.border_radius(0px, true);
}

.datepicker-days .new:hover {
	background-color: @style_color_2 !important;
}

.datepicker-days .active, .today {
	background-color: @style_color_10 !important;
	.font_color_1(true);
}

.datepicker-months {
	.font_color_1(true);
}

.datepicker-months table {
	border-color: @style_color_2 !important;
}

.datepicker-months .prev:hover {
	background-color: @style_color_10 !important;
	.border_radius(0px, true);
}

.datepicker-months .picker-switch {
	background-color: @style_color_2;
}

.datepicker-months .picker-switch:hover {
	background-color: @style_color_1 !important;
}

.datepicker-months .next:hover {
	background-color: @style_color_10 !important;
	.border_radius(0px, true);
}

.datepicker-months .month {
	background-color: @style_color_4;
}

.datepicker-months .month:hover {
	background-color: @style_color_2 !important;
}

.datepicker-months .active {
	background-color: @style_color_10 !important;
	.font_color_1(true);
}

.datepicker-years {
	.font_color_1(true);
}

.datepicker-years table {
	border-color: @style_color_2 !important;
}

.datepicker-years .prev:hover {
	background-color: @style_color_10 !important;
	.border_radius(0px, true);
}

.datepicker-years .picker-switch {
	background-color: @style_color_2;
}

.datepicker-years .picker-switch:hover {
	background-color: @style_color_1 !important;
}

.datepicker-years .next:hover {
	background-color: @style_color_10 !important;
	.border_radius(0px, true);
}

.datepicker-years .year {
	background-color: @style_color_4;
}

.datepicker-years .year:hover {
	background-color: @style_color_2 !important;
}

.datepicker-years .active {
	background-color: @style_color_10 !important;
	.font_color_1(true);
}

.datepicker-years .old {
	background-color: @style_color_1;
	.border_radius(0px, true);
}

.datepicker-years .old:hover {
	background-color: @style_color_2 !important;
}
