/*
 * Knowledge Base
 */

/* Sidebar */
.panel {
	border: 0px;
	.default_shadow;

	.panel-heading {
		background-color: @style_color_2;
		border: 0px;
		font-weight: bold;
		.font_color_1;
	}

	.list-group-item {
		background-color: @style_color_1;

		a {
			.font_color_1;
		}

		&:hover {
			background-color: @style_color_3;
		}
	}
}

/* Entries */
#faq {
	margin-top: 20px !important;
	margin-bottom: 50px;
}

.faded {
	color: #A8A8A8;
}

.faq-article {
	margin-bottom: 60px;
	margin-top: -12px;
	padding: 0px 10px 0px 10px;

	blockquote {
		background: @style_color_4;
		border-left: 10px solid @style_color_2;
		margin: 1.5em 10px;
		padding: 0.5em 10px;
		font-size: 15px;
		.default_shadow;

		&:before {
			color: #ccc;
			content: open-quote;
			font-size: 3em;
			line-height: 0.1em;
			margin-right: 0.25em;
			vertical-align: -0.4em;
		}

		p {
			display: inline;
		}
	}

	table {
		background-color: @style_color_4;
		margin-top: 15px;
		margin-bottom: 15px;
		.auto_center;
		.no_border;
		.default_shadow;

		thead {
			color: @color_black;
			font-size: @font_size_3;
			font-weight: bold;
			background: @style_color_5;
			text-align: center;
		}

		tbody tr td:first-child {
			color: @color_white;
			text-align: left;
			width: 20%;
			background: @style_color_5;
		}

		td {
			padding: 7px;
			color: @color_white;
			vertical-align: top;
			.no_border;
		}
	}
}

.faq-subitem-text {
	padding-left: 10px;
}

.faq-subitem-header {
	background-color: @style_color_2;
	padding: 5px 10px;
	margin-top: 20px;
}

/* Categories */
#kb {
	margin-top: -18px;
	margin-bottom: 52px;

	.fa-folder-open {
		font-size: 84px;
		color: #0473aa;
		padding-left: 12px;
	}

	.list-group-item {
		margin-top: 20px;
	}

	@media (max-width: 767px) {
		.fa-folder-open {
			font-size: 61px;
			padding-left: 0px;
		}
	}
}

.list-group-item {
	background: @style_color_4;
	border: 0px;
	.default_shadow;

	.kb-lg-icon i {
		.font_color_1(true);
	}

	.kb-item-name a {
		.font_color_1(true);
	}

	.kb-view-all {
		background: @style_color_2;
		padding: 5px;
		margin: 10px -15px -10px -15px;
		text-align: center;
	}
}

/* Item List */
.rectangle-list {
	ol {
		counter-reset:li; /* Initiate a counter */
		margin-left:0; /* Remove the default left margin */
		padding-left:0; /* Remove the default left padding */

		/* Item  */
		li {
			position: relative;
			list-style:none; /* Disable the normal item numbering */
		}
	}

	/* Item hover */
	a {
		display: block;
		padding: .4em .4em .4em .8em;
		margin: .5em 0 .5em 2.5em;
		background: @style_color_2;
		text-decoration: none;
		-webkit-transition: all .3s ease-out;
		-moz-transition: all .3s ease-out;
		-ms-transition: all .3s ease-out;
		-o-transition: all .3s ease-out;
		transition: all .3s ease-out;
		text-align: left;
		.font_color_1;
	}

	a:hover {
		background: @style_color_1;
	}

	/* Numbers  */
	a:before {
		content: counter(li);
		counter-increment: li;
		position: absolute;
		left: -1.0em;
		top: 50%;
		margin-top: -1em;
		background: @style_color_2;
		height: 2em;
		width: 2em;
		line-height: 2em;
		text-align: center;
		font-weight: bold;
	}

	/* Number hover */
	a:after {
		position: absolute;
		left: -1em;
		top: 50%;
		margin-top: -.5em;
		content: '';
		border: .5em solid transparent;
		-webkit-transition: all .3s ease-out;
		-moz-transition: all .3s ease-out;
		-ms-transition: all .3s ease-out;
		-o-transition: all .3s ease-out;
		transition: all .3s ease-out;
	}

	a:hover:after {
		left: 1em;
		border-left-color: #ddd;
	}
}
