/*
 * Navigation Menu
 */

.welcome-user {
	padding-top: 10px;
	display: block;
	font-size: 14px;
	.font_color_1(true);

	@media (max-width: 767px) {
		padding-top: 15px;
		padding-left: 13px;
	}
}

#logo img {
	width: 300px;
	margin-top: -5px;
}

.logotop {
   margin-top: 16px;
}

.navbar-inverse {
	background-color: @style_color_2;
	border-color: @style_color_9;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	min-height: 40px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	background-color: #666;
}

.head-menu > li {
	a {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 14px;
		.font_color_1(true);
	}

    a:hover {
		background: @style_color_1 !important;
    }
}

.search {
	input {
		width:80%;
		float: left;
		border-radius: 0px;
		height: 40px;
	}

	button {
		background: #004C30;
		width:20%;
		border-radius: 0px;
		height: 40px;
		font-weight: bold;
		font-size: 16px;
		border: 0px;
		.font_color_1(true);

		&:hover {
			background: #033C27;
		}
	}

	@media (max-width: 767px) {
		padding-bottom: 12px;

		button {
			padding-left: 5px;
			width: 25%;
		}

		input {
			width: 75%;
		}
	}
}
