/*
 * Redactor Editor
 */

/* Overall look */
.redactor-box.redactor-styles-on {
	background: @style_color_4;
	border: 0px;
}

.redactor-statusbar {
	background: @style_color_1;
	border: none;

	li {
		.font_color_1;
	}
}

/* Toolbox */
.redactor-toolbar, .redactor-air {
	a {
		background-color: @style_color_2 !important;
		.font_color_1;
	}

	a.redactor-button-active {
		background: @style_color_1 !important;
		font-weight: bold;
		.font_color_6;
	}
}

.redactor-box.redactor-styles-on .redactor-toolbar {
	background-color: @style_color_2 !important;
}

/* Input */
.redactor-styles {
	.font_color_1(true);

	h1, h2, h3, h4, h5, h6 {
		background: unset;
		.shadow(unset, true);
		.font_color_1(true);
	}
}

.redactor-placeholder:before {
	.font_color_7;
}
