/*
 * Tickets
 */

/* Ticket search */
.search-tickets {
	.search-container {
		input {
			background-color: @style_color_2 !important;
			font-size: @font_size_3;
			border: 0px;
			width: 75%;
			height: 36px;
			border-bottom: 1px solid;
			border-color: @style_color_8;
			float: left;
			.font_color_2;

			&:focus {
				outline: none;
				color: @color_white;
				border: 0px;
				border-bottom: 1px solid;
				border-color: #5F0000;
				.border_radius(0px, false);
				.shadow(none, false);
				-moz-transition: none;
				-webkit-transition: none;
			}
		}

		button {
			background: #004C30;
			padding: 6px 10px;
			margin-right: 16px;
			font-size: 17px;
			border: none;
			cursor: pointer;
			height: 36px;

			&:hover {
				background: #033C27;
			}
		}
	}

	.well {
		min-height: 20px;
		padding: 10px 19px;
	}

	.topics {
		height: 37px;
	}

	@media screen and (max-width: 600px) {
		a, input[type=text], .search-container button {
			float: none;
			display: block;
			text-align: left;
			width: 100%;
			margin: 0;
			padding: 14px;
		}

		input[type=text] {
			border: 1px solid #ccc;
		}

		.search-container {
			float: none;
		}
	}
}

.refersh-icon {
	margin-right: 10px;
	margin-top: 3px;
	color:#5bc0de;
	font-size: 24px;
}

.table-inbox {
	margin-bottom: 0;
	.common_border;
	.default_shadow;

	th {
		background-color: @style_color_2;
		.common_border;

		a {
			.font_color_1;
		}
	}

	tr td {
		background-color: @style_color_4;
		padding: 12px !important;
		.common_border;

		.ticket-link {
			position: relative !important;
			background: #00992E;
			float: left;
			padding: 7px 3px;
			margin: 0 5px 5px 0;
			.border_radius(7px, false);

			&:hover {
				background-color: #00611D;
			}

			a {
				padding: 4px 10px 4px 20px;
				text-decoration: none;
				white-space: nowrap;
				.font_color_1;
			}

			.hole {
				position: absolute !important;
				z-index: 100;
				border: 5px @style_color_4 solid;
				margin-top: -5px;
				width: 0;
				height: 0;
				top: 50%;
				left: 8px;
				.border_radius(10px, false);
				.shadow(e('0 -1px 0 rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.3)'), false);
			}
		}

		.fa-star {
			color: #d5d5d5;

			&:hover {
				color: #f78a09;
			}
		}

		.fa-star.inbox-started {
			color: #f78a09;
		}
	}

	.unread td {
		background-color: @style_color_9;
		font-weight: 600;
	}
}

.ticket-view-top {
	margin-right: 5px;
	margin-top: -3px;

	i {
		font-size: 18px;
	}

	.btn-primary {
		background-color: #555;
		border-color: #555;
	}
}

.ticket-number {
	font-size: 14px !important;
	font-weight: bold;
}

.ticket-view {
	h3 {
		margin-top: 0px;
	}

	table {
		margin-bottom: 1px;

		tbody {
			td, th {
				border-color: @style_color_9;
			}
		}
	}

	.panel {
		border: 0px;
		.default_shadow();

		.panel-heading {
			border: 0px;
			background-color: @style_color_2;

			.panel-title {
				font-weight: bold;
				.font_color_1(true);
			}
		}

		.panel-body {
			background-color: @style_color_4;
		}
	}

	.panel-footer {
		border: 0px !important;
		background-color: @style_color_4;
	}

	.panel-primary {
		border-color: #777;
	}

	.panel-primary > .panel-heading {
		background-color: #777;
		border-color: #888;
	}
}

/* Ticket responses */
.timeline {
	position: relative;
	padding: 21px 0px 10px;
	margin-top: 4px;
	margin-bottom: 30px;

	.line {
		position: absolute;
		width: 4px;
		display: block;
		background: @style_color_2;
		top: 0px;
		bottom: 0px;
		margin-left: 30px;

		&::before {
			top: -4px;
		}

		&::after {
			bottom: -4px;
		}

		&::before, &::after {
			content: '';
			position: absolute;
			left: -4px;
			width: 12px;
			height: 12px;
			display: block;
			border-radius: 50%;
			background: @style_color_2;
		}
	}

	.separator {
		border-top: 1px solid #F5F5F5;
		padding: 5px;
		padding-left: 40px;
		font-style: italic;
		font-size: .9em;
		margin-left: 30px;
	}

	.panel {
		position: relative;
		margin: 10px 0px 21px 92px;
		clear: both;

		&::before {
			position: absolute;
			display: block;
			top: 8px;
			left: -24px;
			content: '';
			width: 0px;
			height: 0px;
			border: inherit;
			border-width: 12px;
			border-top-color: transparent;
			border-bottom-color: transparent;
			border-left-color: transparent;
		}

		.panel-heading.icon * {
			font-size: 20px;
			vertical-align: middle;
			line-height: 40px;
		}

		.panel-heading.icon {
			position: absolute;
			left: -90px;
			display: block;
			width: 60px;
			height: 60px;
			padding: 0px;
			border-radius: 50%;
			text-align: center;
			float: left;
		}
	}

	.panel-outline {
		border-color: transparent;
		background: transparent;
		box-shadow: none;

		.panel-body {
			padding: 10px 0px;
		}

		.panel-heading:not(.icon), .panel-footer {
			display: none;
		}
	}
}

.image-user img {
	border-radius: 30px;
	width: 60px;
	height: 60px;
}

.panel-footer img {
	border-radius: 10px;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	margin-left: 2px;
}

/* Ticket comments */
.front-boxes h1 {
    background: transparent;
}

#ticketTable {
	thead tr td a {
		background-color: #666;
		color: #ffffff;
	}
}

@media (max-width: 767px) {
	.outer_box_green {
		margin-bottom: 17px;
	}

	.outer_box_blue {
		margin-bottom: 48px;
	}

	.sidebar {
		margin-bottom: 27px;
	}

	#ticketSearchForm {
		.search-container {
			margin-bottom: 16px;

			input {
				width:75%;
				float: left;
				height: 45px;
			}

			button {
				width: 50px;
				height: 45px;
			}
		}

		.states {
			margin-top: 16px;
		}
	}

	.search-tickets .pagination {
		margin-bottom: 40px;
	}

	.ticket-view-top {
		margin-top: 8px;
	}

	.ticket-view {
		margin-top: 43px;
	}
}
